/* Fonts */
@font-face {
  font-family: "Sahel";
  src: url("../fonts/Sahel.woff") format("woff");
}
/* Varibale */
:root {
  --green: #27ae60;
  --dark-color: #219150;
  --light-color: #666;
  --black: #444;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

/* basic style */
* {
  font-family: "Sahel", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  transition: width none;
}

html {
  font-size: 85%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

section {
  padding: 4rem 8%;
}
.btn {
  display: inline-block;
  cursor: pointer;
  margin-top: 0.5rem;
  padding: 0.7rem 2.5rem;
  border-radius: 0.5rem;
  color: #fff;
  background: var(--green);
  font-size: 1.2rem;
  font-weight: 500;
}

.btn:hover {
  background: var(--dark-color);
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.heading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0.1rem;
  z-index: -1;
  background: rgba(0, 0, 0, 0.1);
}

.heading span {
  font-size: 2.3rem;
  padding: 0.5rem 2rem;
  color: var(--black);
  background: #fff;
  border: var(--border);
  border-radius: 0.5rem;
}

/* header style */
.header {
  direction: rtl !important;
}
.header .header-1 {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1%;
}

.header .header-1 .logo {
  position: relative;
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--black);
  right: 2rem;
}

.header .header-1 .logo i {
  position: absolute;
  color: var(--green);
  padding: 3px;
  font-size: 2rem;
  right: -2.7rem;
  top: 0;
}

.header .header-1 .search-form {
  display: flex;
  align-items: center;
  background: #fff;
  width: 30rem;
  height: 2.3rem;
  border: var(--border);
  border-radius: 0.5rem;
  overflow: hidden;
}

.header .header-1 .search-form input {
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  padding: 0 1.5rem;
  text-transform: none;
  color: var(--black);
}

.header .header-1 .search-form label {
  font-size: 1.5rem;
  padding-left: 0.3rem;
  color: var(--black);
  cursor: pointer;
}
.header .header-1 .search-form label:hover {
  color: var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a {
  font-size: 1.5rem;
  margin-right: 0.3rem;
  color: var(--black);
  cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
  color: var(--green);
}
#search-btn {
  display: none;
}

.header .header-2 {
  background: var(--green);
}

.header .header-2 .navbar {
  text-align: center;
}

.header .header-2 .navbar a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  padding: 1rem;
}

.header .header-2 .navbar a:hover {
  background: var(--dark-color);
}
/* تنظیم حالت نوبار سایت در حال اسکرول بوسیله جاوا اسکریپت و سی اس اس */
.header .header-2.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

body {
  height: 300rem;
}

/* Bottom Navbar */
.bottom-navbar {
  direction: rtl;
  text-align: center;
  background: var(--green);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
}
.bottom-navbar a {
  font-size: 1.5rem;
  padding: 1.5rem;
  color: #fff;
}
.bottom-navbar a:hover {
  color: var(--dark-color);
}

/* Login Form */
.login-form-container {
  position: fixed;
  top: -115%;
  right: 0%;
  z-index: 10000;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.4s ease-in;
}
.login-form-container.active {
  top: 0;
}

.login-form-container form {
  direction: rtl;
  background: #fff;
  border: var(--border);
  width: 40rem;
  padding: 1rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  /* animation duration  Dependent on Animate.css library */
  animation-duration: 1.3s;
}

.login-form-container form h3 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
}

.login-form-container form span {
  display: block;
  font-size: 1.5rem;
  padding-top: 0.5rem;
}
.login-form-container form .box {
  margin: 0.7rem 0;
  font-size: 1.5rem;
  border: var(--border);
  border-radius: 0.5rem;
  text-transform: none;
  padding: 0.3rem;
  color: var(--black);
  width: 100%;
}

.login-form-container form .checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.login-form-container form .checkbox label {
  font-size: 1.2rem;
  color: var(--light-color);
  cursor: pointer;
}

.login-form-container form .btn {
  text-align: center;
  width: 100%;
  margin: 1.5rem 0;
}

.login-form-container form p {
  font-size: 1.2rem;
  color: var(--light-color);
  padding-top: 0.7rem;
}
.login-form-container form p a {
  color: var(--green);
  text-decoration: underline;
}

.login-form-container #close-login-btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 2.5rem;
  color: var(--black);
}

/* Home Style */
.home {
  background: url(../image/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: row;
}
.home .row .content {
  flex: 1 1 15rem;
  direction: rtl;
  text-align: center;
}
.home .row .content h3 {
  color: var(--black);
  font-size: 3rem;
  text-align: center;
}
.home .row .content p {
  color: var(--light-color);
  font-size: 1rem;
  line-height: 2;
  padding: 1rem 0;
  text-align: center;
}
.home .row .books-slider {
  flex: 1 1 45rem;
  text-align: center;
  margin-top: 1.5rem;
}

.home .row .books-slider a img {
  height: 20rem;
}
.home .row .books-slider a:hover img {
  transform: scale(0.95);
}

.home .row .books-slider .stand {
  width: 100%;
  margin-top: -2rem;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* Icons-Container Style */

.icons-container {
  display: grid;
  direction: rtl;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}

.icons-container .icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}
.icons-container .icons i {
  font-size: 2.2rem;
  color: var(--green);
}

.icons-container .icons h3 {
  font-size: 1.5rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}

.icons-container .icons p {
  color: var(--light-color);
}

/* Featured Style */

.featured .featured-slider .box {
  position: relative;
  cursor: pointer;
  width: 25rem;
  margin: 1rem 1rem;
  text-align: center;
  border: var(--border);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.featured .featured-slider .box:hover {
  /* border: var(--border-hover); */
}

.featured .featured-slider .box .image {
  padding: 1rem;
  background: linear-gradient(15deg, #eee 20%, #fff 20%);
}
.featured .featured-slider .box .image img {
  height: 20rem;
}
.featured .featured-slider .box:hover .image {
  transform: translateY(3.2rem);
}

.featured .featured-slider .box .icons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0.5rem;
  border-bottom: var(--border);
  background: #fff;
  z-index: 1;
  transform: translateY(-105%);
  opacity: 0;
  pointer-events: none;
}
.featured .featured-slider .box:hover .icons {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

.featured .featured-slider .box .icons a {
  color: var(--black);
  font-size: 1.5rem;
  padding: 1rem 1.3rem;
}
.featured .featured-slider .box .icons a:hover {
  color: var(--green);
  background: #fff;
}

.featured .featured-slider .box .content {
  background: #eee;
  padding: 1rem;
}

.featured .featured-slider .box .content h3 {
  font-size: 1.5rem;
  color: var(--black);
}

.featured .featured-slider .box .content .price {
  font-size: 1.7rem;
  color: var(--black);
  padding-top: 2rem;
}

.featured .featured-slider .box .content span {
  font-size: 1.1rem;
  color: var(--light-color);
  text-decoration: line-through;
}

.slider {
  overflow: hidden;
}

.swiper-slide {
  width: auto;
  margin-right: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  border: var(--border-hover);
  border-radius: 5px;
  color: var(--black);
  height: 3rem;
  width: 3rem;
  background: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: var(--black);
  color: #fff;
}

/* newsLetter Style */

.newsLetter {
  background: url(../image/letter-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  /* ویژگی زیر باعث اسکرول شدن تصویر بک گراند در حرکت صفحه میشود */
  background-attachment: fixed;
}

.newsLetter form {
  /* با دستورات زیر در وسط قرار میگیرد فرم*/
  max-width: 40rem;
  margin-left: auto;
  text-align: center;
  padding: 3rem 0;
}

.newsLetter form h3 {
  font-size: 1.5rem;
  color: #fff;
  padding-bottom: 0.5rem;
  font-weight: normal;
}

.newsLetter form .box {
  direction: rtl;
  width: 90%;
  padding: 1rem;
  font-size: 1.2rem;
  color: var(--black);
  border-radius: 0.5rem;
  text-transform: none;
}

/* Arrivals Style */

.arrivals .arrivals-slider .box {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
  border: var(--border);
  margin: 1rem 0;
}
.arrivals .arrivals-slider .box:hover {
  border: var(--border-hover);
}

.arrivals .arrivals-slider .box .image img {
  height: 15rem;
}

.arrivals .arrivals-slider .box .content h3 {
  color: var(--black);
  font-size: 1.5rem;
}

.arrivals .arrivals-slider .box .content .price {
  color: var(--black);
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
}

.arrivals .arrivals-slider .box .content .price span {
  color: var(--light-color);
  font-size: 1.2rem;
  text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .stars i{

  font-size: 1.2rem;
  color: var(--green);  


}
/* Media queris */

@media (max-width: 991px) {
  html {
    font-size: 70%;
  }

  .header .header-1 {
    padding: 1rem;
  }
  section {
    padding: 3rem 2rem;
  }
  .home .row .content {
    text-align: center;
    flex: 1 1 40rem;
  }
}
@media (max-width: 768px) {
  html {
    scroll-padding-top: 0;
  }

  body {
    padding-bottom: 2rem;
  }

  .header .header-2 {
    display: none;
  }
  .bottom-navbar {
    display: block;
  }
  .header .header-1 {
    box-shadow: var(--box-shadow);
    position: relative;
  }
  .header .header-1 .search-form {
    position: absolute;
    top: -110%;
    width: 80%;
    right: 5rem;
    box-shadow: var(--box-shadow);
  }
  #search-btn {
    display: inline-block;
  }
  .header .header-1 .search-form.active {
    top: 110%;
  }

  .home .row .content h3 {
    font-size: 2.5rem;
  }
}

.icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.newsLetter {
  background-position: left;
}

@media (max-width: 600px) {
  html {
    font-size: 60%;
    border: 1px solid red;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
    border: 1px solid red;
  }
}
